{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Project Support Center - Home</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/2d6bdc3669.js" crossorigin="anonymous"></script>
        {% block style %}
        {% endblock %}
    </head>
    
  <body style="min-width: 550px">

    <div class="container-fluid"> 
        <div class="row">
            <div class="col">
                <!-- Area to add Nav bar component -->
                <div class = 'container-fluid'>
                    <div class="row">
                        
                        <nav class="navbar navbar-expand-lg bg-light">
                        
                            <div class="col d-flex justify-content-start ps-3">
                                <a href="/"><img height="100" src="{% static 'svgs/Project-Suppo.svg' %}" alt="logo"/></a>
                            </div>

                            <form class="form-inline col-6 align-items-center" action="{% url 'search' %}" method="get">
                                {% csrf_token %}
                                <div class="input-group rounded ">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><img src="{% static 'svgs/search.svg' %}" alt="search" ></button>
                                </div>
                            </form>
                            
                            <button
                                class="navbar-toggler mx-3"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent"
                                aria-label="Toggle navigation"
                            >
                                <span class="navbar-toggler-icon"></span>
                            </button>   

                            {% csrf_token %}
                            
                            {% if user.is_authenticated %}


                            <div class="collapse navbar-collapse" id="navbarSupportedContent" data-toggle="collapse" data-target=".navbar-collapse">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <a class="btn btn-primary mb-3 ms-3" >Hello, {{ user.username}}</a> 
                                    </a>
                                    </li>
                                    <li class="nav-item" >
                                        <a class="nav-link" href="#">
                                            <a id='logout' class="btn btn-primary mb-3 ms-3" href="{% url 'logout'%}" role="button">Log Out</a>
                                                
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            {% else %}

                            <div class="collapse navbar-collapse" id="navbarSupportedContent" data-toggle="collapse" data-target=".navbar-collapse">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item" >
                                    <a class="nav-link" href="#">
                                        <a id='login' class="btn btn-primary mb-3 ms-3" href="{% url 'login'%}" role="button">Log in</a>
                                            
                                    </a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <a id='sign-up' class="btn btn-primary mb-3 ms-3" href="{% url 'register'%}" role="button">Sign up</a>
                                    </a>
                                    </li>
                                </ul>
                            </div>
                            {% endif %}
                        </nav>
                    </div>
                </div>
                <!-- End Nav bar -->
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <hr>
                <div class="d-flex flex-column">
                    
                    <div class="py-2">
                        <button class="btn btn-outline-light btn-lg">
                            <div class="d-lg-none">
                                <a class="text-decoration-none text-dark px-3" href="{% url 'home'%}"data-bs-toggle="tooltip" data-bs-title="Home">
                                    <img class="pe-2" src="{% static 'icons/house-fill.svg' %}" alt=""> 
                                </a>
                            </div>

                            <div class="d-none d-lg-block">
                                <a class="text-decoration-none text-dark px-3 hidden-sm" href="{% url 'home'%}">
                                    <img class="pe-2" src="{% static 'icons/house-fill.svg' %}" alt=""> 
                                    Home
                                </a>
                            </div>
                        </button>
                    </div>
                    <div class="py-2">
                        <button id="addPost" class="btn btn-outline-light btn-lg">
                            <div class="d-lg-none">
                                <a class="text-decoration-none text-dark px-3" href="{% url 'addProject' %}" data-bs-toggle="tooltip" data-bs-title="Add Post">
                                    <img class="pe-2" src="{% static 'icons/pencil-fill.svg' %}" alt=""></a>
                            </div>

                            <div class="d-none d-lg-block">
                                <a class="text-decoration-none text-dark px-3" href="{% url 'addProject' %}">
                                    <img class="pe-2" src="{% static 'icons/pencil-fill.svg' %}" alt="">Add Post</a>
                            </div>
                            
                        </button>
                    </div>
                    
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                        <div class="py-2">
                            <button class="btn btn-outline-light btn-lg">
                                <div class="d-lg-none">
                                    <a class="text-dark ps-3" href="{% url 'profile' user.username %}" data-bs-toggle="tooltip" data-bs-title="Profile">
                                        <img class="pe-2" src="{% static 'icons/person-circle.svg' %}" alt=""> 
                                    </a>
                                </div>

                                <div class="d-none d-lg-block">
                                    <a class="text-decoration-none text-dark ps-3" href="{% url 'profile' user.username %}">
                                        <img class="pe-2" src="{% static 'icons/person-circle.svg' %}" alt=""> Profile </a>
                                </div>
                                
                            </button>
                        </div>

                        <div class="py-2">
                            <button class="btn btn-outline-light btn-lg">
                                <div class="d-lg-none">
                                    <a id='favorites' class="text-decoration-none text-dark ps-3" href="{% url 'bookmark' user.username %}" data-bs-toggle="tooltip" data-bs-title="Favorites">
                                        <img class="pe-2" src="{% static 'icons/bookmarks.svg' %}" alt="">  </a>
                                    </a>
                                </div>

                                <div class="d-none d-lg-block">
                                    <a id='favorites' class="text-decoration-none text-dark ps-3" href="{% url 'bookmark' user.username %}">
                                        <img class="pe-2" src="{% static 'icons/bookmarks.svg' %}" alt=""> Favorites </a>
                                    </a>
                                </div>
                                
                            </button>
                        </div>
                        {% endif %}
    
                </div>
            </div>

            <div class="col-9">
                <div class="container">

                    {% if messages %}
                        {% for message in messages %}
                        <div class="container">
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>

                {% block content %}
                {% endblock %}
            </div>
        </div>

        <footer class="mt-5">
            <div class="container-fluid text-secondary">
              <div class="row justify-content-center">
                <hr class="col-10">
              </div>
              <div class="row px-5">
                <div class="col-4 d-flex justify-content-start"><p>Fall 2022 BU MET Team 4</p></div>
                <div class="col-4 d-flex justify-content-center"><img height="100" src="{% static 'svgs/Project-Suppo.svg' %}" alt="logo"/></div>
                <div class="col-4 d-flex justify-content-end">
                  <div style="list-style: none">
                    <span><a style="text-decoration: none; padding-left:8px" href="#">Home</a></span>
                    <span><a style="text-decoration: none; padding-left:8px" href="{% url 'aboutUs' %}">About us</a></span>
                  </div>
      
                </div>
              </div>
            </div>
      
        </footer>
      
    </div>

   
    



    <!-- Bootstrap Commands -->
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

<script >
    $(document).ready(function () {
    $('.thumbaction').click(function (e) {
    e.preventDefault();
    var postid = $(this).attr("data-value");
    var button = $(this).attr("value");
    $.ajax({
        type: 'POST',
        url: '{% url "vote" %}',
        data: {
        postid: postid,
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'vote',
        button: button,
        },

        success: function (json) {
        console.log(json)
        if (json.length < 1 || json == undefined) {
            //empty
        }

        document.getElementById("up-"+postid).innerHTML = json['up']
        document.getElementById("down-"+postid).innerHTML = json['down']
        $("svg").removeClass("thumb-active");

        if (json['remove'] == 'none') {
            $("#" + button).removeClass("thumb-active");
        } else {
            $("#" + button).addClass("thumb-active");
        }

        },
        error: function (xhr, errmsg, err) {}
    });
    });
    });
</script>

<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
    {% block script %}
    {% endblock %}
</body>
</html>